### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

### Reading dataset

In [2]:
dataset = pd.read_csv("Student Mental health.csv")
dataset.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

### Visualizing dataset

In [3]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Timestamp                                     101 non-null    object
 1   Choose your gender                            101 non-null    object
 2   Age                                           100 non-null    float64
 3   What is your course?                          101 non-null    object
 4   Your current year of Study                    101 non-null    object
 5   What is your CGPA?                            101 non-null    object
 6   Marital status                                101 non-null    object
 7   Do you have Depression?                       101 non-null    object
 8   Do you have Anxiety?                          101 non-null    object
 9   Do you have Panic attack?                     101 non-null    object
 10  Did you seek any specialist for a treatment?  101 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.8+ KB
None

### Droping rows with any null value

In [4]:
dataset = dataset.dropna()
dataset

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

### Changing column names for a better presentation

In [55]:
dataset.rename(columns = {'Choose your gender':'Gender', 'What is your course?':'Course',
                         'Your current year of Study':'Year', 'What is your CGPA?':'CGPA',
                         'Do you have Depression?':'Depression', 'Do you have Anxiety?':'Anxiety',
                         'Do you have Panic attack?':'Panic attack', 
                          'Did you seek any specialist for a treatment?':'Treatment'}, inplace = True)
dataset

,Timestamp,Gender,Age,Course,Year,CGPA,Marital status,Depression,Anxiety,Panic attack,Treatment
0,8/7/2020 12:02,Female,18.0,Engineeringeringeringeringeringeringeringering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Lawsssssss,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineeringeringeringeringeringeringeringering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

### Analizing values in each column

In [18]:
dataset['Age'].value_counts()

18.0    32
24.0    23
19.0    21
23.0    13
20.0     6
21.0     3
22.0     2
Name: Age, dtype: int64

In [19]:
dataset['Gender'].value_counts()

Female    75
Male      25
Name: Gender, dtype: int64

In [20]:
dataset['Course'].value_counts()

BCS                        18
Engineering                17
BIT                         9
Biomedical science          4
KOE                         4
BENL                        2
Laws                        2
psychology                  2
Engine                      2
Islamic Education           1
Biotechnology               1
engin                       1
Econs                       1
MHSC                        1
Malcom                      1
Kop                         1
Human Sciences              1
Communication               1
Nursing                     1
Diploma Nursing             1
IT                          1
Pendidikan Islam            1
Radiography                 1
Fiqh fatwa                  1
DIPLOMA TESL                1
Koe                         1
Fiqh                        1
CTS                         1
koe                         1
Benl                        1
Kirkhs                      1
Mathemathics                1
Pendidikan islam            1
Human Resources             1
Irkhs                       1
Psychology                  1
KENMS                       1
Accounting                  1
ENM                         1
Marine science              1
Banking Studies             1
Business Administration     1
Law                         1
KIRKHS                      1
Usuluddin                   1
TAASL                       1
ALA                         1
Islamic education           1
Pendidikan Islam            1
Name: Course, dtype: int64

In [53]:
dataset['Course'] = dataset['Course'].str.replace('psychology','Psychology', regex=False)
dataset['Course'] = dataset['Course'].str.replace('Law','Laws', regex=False)
dataset['Course'] = dataset['Course'].str.replace('Engine','Engineering', regex=False)

In [54]:
dataset['Course'].value_counts()

BCS                                               18
Engineeringeringeringeringeringeringeringering    17
BIT                                                9
Biomedical science                                 4
KOE                                                4
Psychology                                         3
BENL                                               2
Lawsssssss                                         2
Engineeringeringeringeringeringeringering          2
Islamic Education                                  1
Biotechnology                                      1
engin                                              1
Econs                                              1
MHSC                                               1
Malcom                                             1
Kop                                                1
Human Sciences                                     1
Communication                                      1
Nursing                                            1
Diploma Nursing                                    1
IT                                                 1
Pendidikan Islam                                   1
Radiography                                        1
Fiqh fatwa                                         1
DIPLOMA TESL                                       1
Koe                                                1
Fiqh                                               1
CTS                                                1
koe                                                1
Benl                                               1
Marine science                                     1
Mathemathics                                       1
Pendidikan islam                                   1
Human Resources                                    1
Irkhs                                              1
KENMS                                              1
Accounting                                         1
ENM                                                1
Banking Studies                                    1
Kirkhs                                             1
Business Administration                            1
Lawssssss                                          1
KIRKHS                                             1
Usuluddin                                          1
TAASL                                              1
ALA                                                1
Islamic education                                  1
Pendidikan Islam                                   1
Name: Course, dtype: int64

In [21]:
dataset['Year'].value_counts()

year 1    40
Year 3    19
Year 2    16
year 2    10
year 4     8
year 3     5
Year 1     2
Name: Year, dtype: int64

In [22]:
dataset['CGPA'].value_counts()

3.50 - 4.00     47
3.00 - 3.49     43
2.50 - 2.99      4
0 - 1.99         3
2.00 - 2.49      2
3.50 - 4.00      1
Name: CGPA, dtype: int64

In [23]:
dataset['Marital status'].value_counts()

No     84
Yes    16
Name: Marital status, dtype: int64

In [25]:
dataset['Depression'].value_counts()

No     65
Yes    35
Name: Depression, dtype: int64

In [26]:
dataset['Anxiety'].value_counts()

No     66
Yes    34
Name: Anxiety, dtype: int64

In [27]:
dataset['Panic attack'].value_counts()

No     67
Yes    33
Name: Panic attack, dtype: int64

In [28]:
dataset['Treatment'].value_counts()

No     94
Yes     6
Name: Treatment, dtype: int64

### Comments:
#### When modifying a column in the dataframe, and naming it within the same dataframe some errors can be produced. Understand the behaviour of variables (dataframes).
#### Engineeringengineeringeerngingering error!!! while using str.replace() function and running it several times using the same name for the variable.
#### Investigate other functions for changing values in a column using conditions.